@charset "utf-8";

body {
	font-family: Tahoma, Verdana, sans-serif;
	color: #333;
	margin: 0 auto;
	max-width: 1024px;
}

main {
	display: flex;
	flex-direction: row;
}

main aside {
	padding: 5px;
	width: 35%;
}

main section {
    width: 65%;
    margin: 0 auto;
}

main aside img {
    max-width: 280px;
}

div.poster {
    background-image: url(../images/meg-opening-wide.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 800px;
    position: relative;
}

h1 {
    font-family: 'Avenir Next Condensed';
    font-size: 70pt;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
    line-height: 0.75;
    color: yellow;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#00ff00, #ffff00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::first-line {
    font-size: 15pt;
}

h2 {
    font-family: 'Arial Black';
    font-size: 50pt;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    line-height: 0.75;
    text-transform: uppercase;
    margin-top: -50px;
    color: yellow;
    -webkit-text-fill-color: #fffc0099;
    transform: scaleX(1.1) scaleY(1.5) rotate(-10deg);
    letter-spacing: -5pt;
}

@font-face {
    font-family: GothamFont;
    src: url(../Gotham_Nights_Normal.ttf);
}

div.authors {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    word-spacing: 25pt;
}

span.author {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.9;
    -webkit-text-fill-color: #fff9;
}

span.author::first-line {
    font-size: 6pt;
    -webkit-text-fill-color: #fffc0099;
}

div.poster p {
    font-family: Arial;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 700px;
    left: 0;
    font-size: 3pt;
    transform: scaleY(2);
    text-transform: uppercase;
}